<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/express-favicon.png" type="image/x-icon" />

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Text Summarization</title>

        <!-- Icon css link -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="../static/css/Hasil.css" rel="stylesheet">



    </head>

<body>

<div class="wrap">
 <h1 align="left" style = "font-size: 30px; margin: 5px;" >WikiUhuy</h1>
  <!-- <p align="center" style = "font-size: 15px; margin-bottom: 30px;" >Summarize Tool Based on Wikipedia Articles</p> -->
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

<div class="wrap2">
<h3 style= "color: red">Hasil dari : Ini Kata kunci</h3>
<div class="box">
<div class="isi">
coba2skjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjakgdksgfhsghasgfjdsgsgfjdshgfjdgfdgsssssssssssssssssssssssssssssssssssssssssssssssjkahkajhkjahkjahkjahkajhkjahkajhkajhjahkjahjkahjkakhjhajkahjahjkahjkhjahjahjkajhjakajhjahjkahkjahkja
fsfjksldfsddsfsjfksklnf
</div>
</div>
</div>

</body>

</html>
